@font-face {
    font-family: DMsans;
    src: url(../fonts/DMSans-VariableFont_opsz\,wght.woff);
}
@font-face {
    font-family: Monster;
    src: url(../fonts/Montserrat-VariableFont_wght.woff);
}
@font-face {
    font-family: Museo;
    src: url(../fonts/MuseoModerno-VariableFont_wght.woff);
}